doctype html
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title Gulp - Foundation 5 Template
		link(href="assets/css/main.css", rel="stylesheet")
		script(src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js", type="text/javascript")
	body
		.contain-to-grid
			nav.top-bar(data-topbar)
				ul.title-area
					li.name
						h1
							a(href="#") GULP - Foundation 5 Template
					li.toggle-topbar.menu-icon
						a(href="#")
				section.top-bar-section
					ul.right
						li
							a(href="http://gulpjs.com/") Gulp
						li
							a(href="http://foundation.zurb.com/docs/") Foundation Docs
						li.has-dropdown
							a(href="http://christian.anguiano.me/") Christian Anguiano
							ul.dropdown
								li
									a(href="https://git.anguiano.me/") Git
								li
									a(href="http://blog.anguiano.me") Blog


		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.2.2/js/foundation.min.js")
		script(src="assets/js/main.js")